gradle
.gradle/
build/
out/
classes/


*.launch


.idea/
*.iml
*.ipr
*.iws


.settings/
.vscode/
bin/
.classpath
.project


.DS_Store


run/


hserr.log
replay_.log
*.hprof
*.jfr
gradle
.gradle/
build/
out/
classes/


*.launch


.idea/
*.iml
*.ipr
*.iws

.settings/
.vscode/
bin/
.classpath
.project


.DS_Store

run/
!run/saves/


hserr.log
replay_.log
*.hprof
*.jfr